@model OtelMvcProje.Models.Entity.TblMesaj2
@{
    ViewBag.Title = "MesajDetay";
    Layout = "~/Views/Shared/_MisafirLayout.cshtml";
}
<br />
<h2>MesajDetay</h2>
<br />
<label>Gönderen</label>
@Html.TextBoxFor(x => x.Gonderen, new { @class = "form-control" })
<label>Alıcı</label>
@Html.TextBoxFor(x => x.Alici, new { @class = "form-control" })
<label>Konu</label>
@Html.TextBoxFor(x => x.Konu, new { @class = "form-control" })
<label>Tarih</label>
@Html.TextBoxFor(x => x.Tarih, new { @class = "form-control" })
<label>Mesaj</label>
@Html.TextAreaFor(x => x.Mesaj, 10, 4, new { @class = "form-control" })
